#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	debugger: true # panel do Tracy
	#catchExceptions: true  # default: zapnuto v produkčním režimu
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days


database:
        dsn: 'mysql:host=127.0.0.1;dbname=vykazuj;charset=utf8;'
        user: localtest
        password: lo1cal8te2st


services:
	router: App\RouterFactory::createRouter
	authenticator: MyAuthenticator
	registrator: MyRegistrator
	authorizator: MyAuthorizator

opauth:
	path: '/vykazuj/www/auth/'
	debug: true
	callback_url: '{path}callback'
	security_salt: '123abc456def'
	callback_transport: 'session'
	Strategy:
		Facebook:
			app_id: ''
			app_secret: ''
		Google:
			client_id: '232158870291-247i8lbpcj496b0tk7gv7ka9molvrm96.apps.googleusercontent.com'
			client_secret: '8A7Z81YLejvvyvXcpyoxmRDS'
		Twitter:
			key: ''
			secret: ''
		LinkedIn:
			api_key: ''
			secret_key: ''