#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	debugger: true # panel do Tracy
	#catchExceptions: true  # default: zapnuto v produkčním režimu
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days


database:
        dsn: 'mysql:host=md23.wedos.net;dbname=d200863_prod;charset=utf8;'
        user: w200863_prod
        password: 6ArAGE66


services:
	router: App\RouterFactory::createRouter
	authenticator: MyAuthenticator
	registrator: MyRegistrator
	authorizator: MyAuthorizator