
{block content}
<body>
<p>
                    
                    {if Nette\Config\Configurator::detectDebugMode()}
	<a href="{plink Auth:callback, strategy => 'fake'}">Fake login</a><br/>
{/if}
<a href="{plink Auth:auth Google}">Sign-in with Google</a><br/>
<a href="{plink Auth:auth Facebook}">Sign-in with Facebook</a><br/>
<a href="{plink Auth:auth Twitter}">Sign-in with Twitter</a><br/>
<a href="{plink Auth:auth LinkedIn}">Sign-in with LinkedIn</a><br/>
                    
                </p>
</body>
{/block}
